.container {
  height: 100vh;
  width: 100%;
  display: flex;  
  justify-content: center;
  align-items: center;
}

.banner {
  height: 400px;
  width: 80%;
  object-fit: cover;  
  border-radius: 12px;
}

.photo {
  height: 60px;
  width: 60px;
  object-fit: cover;  
  border-radius: 50%;
}